{
  "dbConfig": {
    "provider": "sqlite",
    "filename": "data/db.sqlite",
    "create_db": true
  },
  "botConfig": {
    "developmentToken": "...",
    "productionToken": "...",
    "inviteUrl": "https://discordapp.com/oauth2/authorize?client_id={CLIENT_ID}&scope=bot&permissions=3148800"
  }
}
